.tec-page-cards {
    display: flex;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.banner-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 35%;
    border-radius: 20px;
    text-align: center;

}


.banner-principal > p {
    font-size: 20px;
    padding: 10px;
}


.img-tec-page {
    width: 100%;
    border-radius: 16px;
    background-color: #ffffff;
}