.cards-destination .title-cards-destination>h1 {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    padding-top: 120px;
    margin-bottom: 50px;
}

.planets-cards-destination-box-card-img-size {
    max-width: 35%;
    transition-duration: 1.4s;
}

.cards-itens-destination {
    display: flex;
    justify-content: center;
}

.cards-itens-result {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}