.tec {
    padding-bottom: 100px;
    background-color: beige
}

.tec .cards-tec {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.tec-main-title {
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}

.card-tec-space-port {
    margin-left: 60px;
}